extends layout

block content
  div.box-title.shadow-effect-bottom
   table(style="width:100%")
    tr
      td(align="left")
        img(src='/images/Christmas-Tree.png',height='30%')
      td(align="center")
        h1= "Sindhu's Kitchen XMAS Countdown"
      td(align="right")
        img(src='/images/Christmas-Tree.png',height='30%')
  each post in title
     if(post.message)
         div.box-content.shadow-effect-sides
           h3= post.created_time
           h3= post.message
           img(src=post.full_picture)