doctype html
html
  head
    title='Sindhus Kitchen'
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Mountains+of+Christmas')
  body
    block content
