body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('/images/snow.jpg');
}
a {
  color: #00b7ff;
}

h1 {
    font-family: "Mountains of Christmas";
    font-size: 60px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 26.4px;
}

.box-fb-page{
    width:70%;
    height:150px;
    background-color : transparent;
    margin:auto;
    text-align: center;
    color: red;
}

.box-title {
    width:70%;
    height:150px;
    background:#d1f2c4;
    margin:auto;
    text-align: center;
    color: red;
}

.shadow-effect-bottom
{
    position: relative;
}
.shadow-effect-bottom:before, .shadow-effect-bottom:after
{
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 25px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width:300px;
    background: #777;
    box-shadow: 0 35px 20px #777;
    transform: rotate(-8deg);
}
.shadow-effect-bottom:after
{
    transform: rotate(8deg);
    right: 10px;
    left: auto;
}


.box-content h3{
    text-align:center;
    position:relative;
}
.box-content {
    width:70%;
    height:auto;
    background:#FFF;
    margin:40px auto;
    padding-bottom: 20px;
}

.box-content img{
    display: block;
    margin: auto;
    max-width:100%;
    height:auto;
}

.shadow-effect-sides
{
    position:relative;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.shadow-effect-sides:before, .shadow-effect-sides:after
{
    content:"";
    position:absolute;
    z-index:-1;
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    border-radius:100px / 10px;
}
.shadow-effect-sides:after
{
    right:10px;
    left:auto;
    transform:skew(8deg) rotate(3deg);
}

